<!doctype html>
<html lang="ko">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
<!-- sbb CSS -->
<link rel="stylesheet" type="text/css" th:href="@{/style.css}">

<title>Hello, sujin!</title>

</head>


<body>

<!-- th:replace 
fragment와 함께 쓰이며, 각 화면에 분리해 놓은 fragment를 붙여넣을 때 사용한다.
-->
	<nav th:replace="/nav/navbar :: navbarFragment"></nav>

		<!-- 기본 템플릿 안에 삽입될 내용 Start -->
		<!-- th:fragment
header, footer, navigation bar 같이 모든 페이지에 보여져야하는 항목인 경우 따로 분리해서 관리한다.
 -->
		<th:block layout:fragment="content"></th:block>
		<!-- 기본 템플릿 안에 삽입될 내용 End -->

		<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>